@charset "utf-8";
header {
	font-family:"Arial Black", Gadget, sans-serif;
	background-color:#EAEAEA;
	font-size:36px;
	alignment-adjust: central;
}
company {
	text-align: left;
}
links {
	text-align: center;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align: left;
	font-size: 36px;
}
h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
}
h3 {
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif
}
h4 {
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px
}
body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	
}
a:hover {
	color: #FF0000;
}
a {
	color:#000;
}
.email {
	color:#00F;
}
.header {
	text-decoration: none;
}
.links {
	color:#00F;
}
footer {
	text-align: center;
	vertical-align:top;
	background-color:#EAEAEA;
	color:#000;
}
bottom {
	text-align: center;
}
a img {
	border: none;
}
